<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>{{site.title}}</title>
<style>
table{
  border-collapse: collapse;
}
td{
  border: 1px solid black;
  text-align: center;
}
td.yes{
  background-color:green;
  color: white;
}
td.no{
  background-color:red;
}
</style>
<head>
</head>
<body>

<p id="demo"></p>

<script>

function constructVoteKey(meetingID,itemID,voteSequence){
  
  let key=meetingID.toString()+","+itemID+","+voteSequence.toString();
  return key;
}
function constructURLQueryFromVotesToDisplay(context){
  
  let urlQuerySring="";
  if(Object.hasOwn(context,"votesToDisplay")){
    
    urlQuerySringBase="?votes=";
    urlQueryStringData="";
    
    for( const key of context.votesToDisplay.keys()){
      
      let voteToDisplay=context.votesToDisplay.get(key);
      
      urlQueryStringData+=voteToDisplay.meeting_id.toString()+"."
      urlQueryStringData+=voteToDisplay.item_id.toString()+"."
      urlQueryStringData+=voteToDisplay.vote_sequence.toString()+"_"
    }
  }
  
  return urlQuerySringBase+encodeURIComponent(urlQueryStringData);
}
function addURLQueryToVotesToDisplay(context){
  
  let parsedURL=new URL(window.location.href);
  votesToDisplayQueryString=parsedURL.searchParams.get("votes")
  if(votesToDisplayQueryString){
    
    parts=votesToDisplayQueryString.split("_");
    if(parts.length>1){
      
      if (!Object.hasOwn(context,"votesToDisplay")){
        
        context.votesToDisplay=new Map();
      }
      
      for(let i=0;i<parts.length-1;i++){
        
        let vars=parts[i].split(".");
        console.assert(vars.length===3,"Each vote should have three componenets");
        meetingID=vars[0];
        itemID=vars[1];
        voteSequence=vars[2];
        let key=constructVoteKey(meetingID,itemID,voteSequence);
        if(!context.votesToDisplay.has(key)){
          
          context.votesToDisplay.set(key,{
            meeting_id:meetingID,
            item_id:itemID,
            vote_sequence:voteSequence});
        }
      }
      
      displayVotes(context);
    }
  }
}
function main(){
  
  /*
  Scenarios:
  1) land on page with no query string
    -> do nothing special, just display basic page
  2) land on page with query string
    -> add query string items to context.votesToDisplay not already present
    -> display votes, url should reflect items in votesToDisplay
  
  Scenarios when "display votes" clicked:
  a) have a url with query string and no votesToDisplay
    -> update votesToDisplay to contain items in query string (e.g. they match now)
  b) have no url query string and votesToDisplay
    -> construct url query string from votesToDisplay
  c) have both a url query string and votesToDisplay
    -> if votesToDisplay doesn't container item from url query string add it
    -> construt url query string from votesToDisplay
  */
  
  let context={baseURL:"https://hrm.datasette.danp.net/meetings.json?sql="};
  context.voteStrings=new Map();
  context.voteStrings.set("against","no");
  context.voteStrings.set("in_favour","yes");
  context.voteStrings.set("not_present","absent");
  
  addURLQueryToVotesToDisplay(context);
  
  return context;
}
async function performQuery(context,query){
  
  const url=context.baseURL+encodeURIComponent(query);
  let result=null;
  try{
    
    const response=await fetch(url);
    if (!response.ok){
      
      throw new Error(`Response status: ${response.status}`);
    }
    
    result=await response.json();
  }
  catch (error){
    console.log("query="+query);
    console.error(error.message);
  }
  
  return result;
}
function tryPushTerm(term,parsedString){
  
  let result=term;
  let testStr=term.trim();
  if(testStr.length>0){
    
    parsedString.push(testStr);
    result="";
  }
  
  return result;
}
function parseSearchString(searchString){
  
  let parsedString=[]
  let curTerm="";
  for(let i=0;i<searchString.length;i++){
    
    if(searchString[i]=="("){
      
      curTerm=tryPushTerm(curTerm,parsedString);
      parsedString.push("(");
    }
    else{
      
      if(searchString[i]===")"){
        
        curTerm=tryPushTerm(curTerm,parsedString);
        parsedString.push(")");
      }
      else{
        
        if(searchString.substring(i,i+2).toLowerCase()==="or" &&
          ( (searchString.substring(i-1,i)===" " || 
          searchString.substring(i-1,i)===")") && 
          ( (searchString.substring(i+2,i+3)===" " || 
          searchString.substring(i+2,i+3)==="(")) )){
          
          curTerm=tryPushTerm(curTerm,parsedString);
          i=i+2;
          parsedString.push("OR");
        }
        else{
          
          if(searchString.substring(i,i+3).toLowerCase()==="and" &&
            ( (searchString.substring(i-1,i)===" " || 
            searchString.substring(i-1,i)===")") && 
            ( (searchString.substring(i+3,i+4)===" " || 
            searchString.substring(i+3,i+4)==="(")) )){
            
            curTerm=tryPushTerm(curTerm,parsedString);
            i=i+3;
            parsedString.push("AND");
          }
          else{
            
            curTerm+=searchString[i];
          }
        }
      }
    }
  }
  
  curTerm=tryPushTerm(curTerm,parsedString);
  
  return parsedString;
}
async function searchMinutesClicked(context){
  
  //TODO: handle case with search text is empty
  
  //NOTE: construct the search text
  let searchTerm=document.getElementById("searchTerm").value;
  
  parsedSearchString=parseSearchString(searchTerm);
  
  let searchText="";
  for(let i=0;i<parsedSearchString.length;i++){
    
    if(parsedSearchString[i]==="(" || parsedSearchString[i]===")"){
      
      searchText+=parsedSearchString[i];
    }
    else{
      
      if(parsedSearchString[i]==="OR" || parsedSearchString[i]==="AND"){
        
        searchText+=" "+parsedSearchString[i]+" ";
      }
      else{
        
        searchText+="v.raw_text like '%"+parsedSearchString[i]+"%'";
      }
    }
  }
  
  //NOTE: perform the search query
  let query="select"+
     " m.date,"+
     " m.type as meeting_type,"+
     " m.id as meeting_id,"+
     " v.item_id,"+
     " v.sequence as vote_sequence,"+
     " i.number as item_number,"+
     " i.title as item_title,"+
     " v.motion_type,"+
     " v.result,"+
     " v.raw_text,"+
     " m.agenda_url || \"&Item=\" || i.item_id as meeting_link"+
   " from"+
     " meeting_minutes_votes v"+
     " join meeting_minutes_items i on v.meeting_id = i.meeting_id"+
     " and i.external_content_id = v.external_content_id"+
     " and i.item_id = v.item_id"+
     " join meetings m on m.id=v.meeting_id"+
   " where "+
      searchText+
   " order by"+
     " m.date desc";
  
  const result=await performQuery(context,query);
  
  //NOTE: display search results
  let resultHTML="Found "+result.rows.length.toString()+" matches<br/>";
    
  if (result.rows.length>0){
  
    let indexMeetingID=result.columns.indexOf("meeting_id");
    let indexVoteSequence=result.columns.indexOf("vote_sequence");
    let indexMeetingLink=result.columns.indexOf("meeting_link");
    let indexMeetingType=result.columns.indexOf("meeting_type");
    let indexMotionType=result.columns.indexOf("motion_type");
    
    let indexRawText=result.columns.indexOf("raw_text");
    let indexItemTitle=result.columns.indexOf("item_title");
    let indexItemNumber=result.columns.indexOf("item_number");
    let indexItemID=result.columns.indexOf("item_id");
    
    let indexResult=result.columns.indexOf("result");
    let indexDate=result.columns.indexOf("date");
    
    resultHTML+="<table><tr><th></th>";
    resultHTML+="<th>Date</th><th>Item Title</th><th>Minutes Text</th>";
    /*
    for(let i=0;i<result.columns.length;i++){
      resultHTML+="<th>"+result.columns[i]+"</th>";
    }
    */
    resultHTML+="</tr>";
    
    for(let i=0;i<result.rows.length;i++){
      resultHTML+="<tr ><td>";
      
      let meetingID=result.rows[i][indexMeetingID]
      let itemID=result.rows[i][indexItemID];
      let voteSequence=result.rows[i][indexVoteSequence];
      let key=constructVoteKey(meetingID,itemID,voteSequence);
      
      let isChecked=false;
      if(Object.hasOwn(context,"votesToDisplay")){
      
        if(context.votesToDisplay.has(key)){
          
          isChecked=true;
        }
      }
      
      if(isChecked){
        resultHTML+="<input class='motionCheck' type='checkbox' value='"+
          meetingID+","+itemID+","+voteSequence+"' checked></input></td>";
      }
      else{
        resultHTML+="<input class='motionCheck' type='checkbox' value='"+
          meetingID+","+itemID+","+voteSequence+"'></input></td>";
      }
      
      resultHTML+="<td>"+result.rows[i][indexDate]+"</td>";
      resultHTML+="<td><a href='"+result.rows[i][indexMeetingLink]+"'>"+
        result.rows[i][indexItemTitle]+"</a></td>";
      resultHTML+="<td>"+result.rows[i][indexRawText]+"</td>";
      resultHTML+="</tr>";
    }
    resultHTML+="</table>";
  }
  document.getElementById("display").innerHTML=resultHTML;
}
function addRemoveCheckedVotesToVotesToDisplay(context){
  
  const checkBoxes=document.getElementsByClassName("motionCheck");
  
  if (!Object.hasOwn(context,"votesToDisplay")){
    
    context.votesToDisplay=new Map();
  }
  
  for(let i=0;i<checkBoxes.length;i++){
    
    let values=checkBoxes[i].value.split(",");
    let meetingID=values[0];
    let itemID=values[1];
    let voteSequence=values[2];
    let key=constructVoteKey(meetingID,itemID,voteSequence);
    if (checkBoxes[i].checked) {
      
      //NOTE: only add new votes, prevents duplicates
      if(!context.votesToDisplay.has(key)){
        
        context.votesToDisplay.set(key,{
          meeting_id:meetingID,
          item_id:itemID,
          vote_sequence:voteSequence});
      }
    }
    else{
      
      //NOTE: if not checked, remove it
      if(context.votesToDisplay.has(key)){
        
        context.votesToDisplay.delete(key);
      }
    }
  }
}
async function getVotesForVotesToDisplay(context){
  
  let voters=[];
  
  for( const key of context.votesToDisplay.keys()){
    
    let voteToDisplay=context.votesToDisplay.get(key);
    
    //NOTE: if we don't have a voteMap for votesToDisplay get one
    if(!Object.hasOwn(voteToDisplay,"voteMap")){
      
      console.log("meeting_id="+voteToDisplay.meeting_id.toString());
      console.log("item_id="+voteToDisplay.item_id.toString());
      console.log("vote_sequence="+voteToDisplay.vote_sequence.toString());
      
      voteToDisplay.voteMap=new Map();
      
      let query=
        "select "+
          "p.person_name, "+
          "p.vote, "+
          "m.agenda_url || '&Item=' || v.item_id as meeting_link, "+
          "i.title, "+
          "v.result "+
        "from meeting_minutes_vote_people p "+
        "join meeting_minutes_votes v on "+
          "p.meeting_id=v.meeting_id and "+
          "p.item_id=v.item_id and "+
          "p.vote_sequence=v.sequence and "+
          "p.external_content_id=v.external_content_id "+
        "join meeting_minutes_items i on "+
          "p.meeting_id=i.meeting_id and "+
          "p.item_id=i.item_id and "+
          "p.external_content_id=i.external_content_id "+
        "join meetings m on "+
          "p.meeting_id=m.id "+
        "where "+
          "p.meeting_id='"+voteToDisplay.meeting_id.toString()+"' and "+
          "p.item_id='"+voteToDisplay.item_id.toString()+"' and "+
          "p.vote_sequence='"+voteToDisplay.vote_sequence.toString()+"'";
      
      const result=await performQuery(context,query);
      if(result.rows.length>0){
        
        voteToDisplay.url=result.rows[0][2];
        voteToDisplay.title=result.rows[0][3];
        voteToDisplay.result=result.rows[0][4];
        
        for(let j=0;j<result.rows.length;j++){
          
          const name=result.rows[j][0];
          const vote=result.rows[j][1];
          voteToDisplay.voteMap.set(name,vote);
          
          const index=voters.indexOf(name);
          if (index===-1){
            
            voters.push(name);
          }
        }
      }
      else{
        
        //NOTE: didn't get any voter information, do separate query just to 
        //get url,title, and result
        let query=
          "select "+
            "m.agenda_url || '&Item=' || v.item_id as meeting_link, "+
            "i.title, "+
            "v.result "+
          "from meeting_minutes_votes v "+
          "join meeting_minutes_items i on "+
            "v.meeting_id=i.meeting_id and "+
            "v.item_id=i.item_id and "+
            "v.external_content_id=i.external_content_id "+
          "join meetings m on "+
            "v.meeting_id=m.id "+
          "where "+
            "v.meeting_id='"+voteToDisplay.meeting_id.toString()+"' and "+
            "v.item_id='"+voteToDisplay.item_id.toString()+"' and "+
            "v.sequence='"+voteToDisplay.vote_sequence.toString()+"'";
        
        const result=await performQuery(context,query);
        if(result.rows.length>0){
          
          voteToDisplay.url=result.rows[0][0];
          voteToDisplay.title=result.rows[0][1];
          voteToDisplay.result=result.rows[0][2];
        }
      }
    }
    else{
      
      for( const key of voteToDisplay.voteMap.keys()){
        
        const index=voters.indexOf(key);
        if (index===-1){
          
          voters.push(key);
        }
      }
    }
  }
  
  return voters;
}
function updateURL(queryString){
  
  let parsedURL=new URL(window.location.href);
  newURL=parsedURL.protocol+"//"+parsedURL.host+parsedURL.pathname+queryString;
  location.replace(newURL);
}
async function displayVotes(context){
  
  let voters=await getVotesForVotesToDisplay(context);
  
  //NOTE: generate HTML to display votes
  let innerHTML="<table><tr><th>Councilor</th>";
  for( const key of context.votesToDisplay.keys()){
    
    voteToDisplay=context.votesToDisplay.get(key);
    
    innerHTML+="<th><a href="+voteToDisplay.url+">"+
      voteToDisplay.title+"</a><br/>"+voteToDisplay.result+"</th>";
  }
  
  innerHTML+="</tr>";
  for(let i=0;i<voters.length;i++){
    
    let name=voters[i];
    innerHTML+="<tr><td>"+name+"</td>";
    for( const key of context.votesToDisplay.keys()){
      
      let voteToDisplay=context.votesToDisplay.get(key);
      
      if(voteToDisplay.voteMap.has(name) ){
        
        if(context.voteStrings.get(
          voteToDisplay.voteMap.get(name).toString())==="yes"){
          
          innerHTML+="<td class='yes'>Yes</td>";
        }
        else{
          
          if(context.voteStrings.get(
            voteToDisplay.voteMap.get(name).toString())==="no"){
            
            innerHTML+="<td class='no'>No</td>";
          }
          else{
            innerHTML+="<td>Absent</td>";
          }
        }
      }
      else{
        innerHTML+="<td>no record</td>";
      }
    }
    innerHTML+="</tr>";
  }
  innerHTML+="</table>";
  
  document.getElementById("display").innerHTML=innerHTML;
}
async function displayVotesClicked(context){
  
  addRemoveCheckedVotesToVotesToDisplay(context);
  let queryString=constructURLQueryFromVotesToDisplay(context);
  updateURL(queryString);
}

let cg_context=main();
</script>

<input type="text" id="searchTerm" name="fname">
<button onclick="searchMinutesClicked(cg_context)" >Search Minutes</button>
<button onclick="displayVotesClicked(cg_context)" >Display Votes</button>

<div id="display"></div>

{{content}}

</body>
</html>
